@use 'app/styles' as *;

.top {
    display: block;
    width: 100vw;
    height: 48dvh;
    position: fixed;
    top: 0;
    z-index: 2;
    background: $primary-dark;

    &[aria-expanded=true] {
        animation: curtainTop 1s ease-in-out forwards;
    }
}

.bottom {
    display: block;
    width: 100vw;
    height: 48dvh;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: $primary-dark;

    &[aria-expanded=true] {
        animation: curtainBottom 1s ease-in-out forwards;
    }
}

@keyframes curtainTop {
    from {
        top: 0
    }

    to {
        top: -100%;
        display: none;
    }
}

@keyframes curtainBottom {
    from {
        bottom: 0
    }

    to {
        bottom: -100%;
        display: none;
    }
}