@use "../../styles" as *;

.container {
    position: relative;
    height: 100%;
    background: $primary-main;
}

.progress {
    font-size: 12rem;
    font-family: 'Gasoek One', sans-serif;
font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    //background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 51%, rgba(59,183,126,1) 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
