@use "../../styles" as *;

.container {
    position: relative;
    height: 100%;
    background: $primary-dark;
    font-family: DrukCond, sans-serif;

    .gritting {
        padding: 2rem;
        font-size: 2rem;
        color: $primary-light;
    }

    svg text {
        font-size: 15rem;
        border-bottom: 5px solid orange;

        @media screen and (max-width: 800px) {
            font-size: 6rem;
        }
    }
}


// example how to style text with stroke and linear gradient
.add-stroke {
    font-family: druk cound;
    //color: #fff;
    //-webkit-text-stroke-width: 5px;
    //background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 51%, rgba(59,183,126,1) 51%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
}
